<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Home</title>
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head> 
<body>
    <p>  @ViewBag.Greeting @ViewBag.Username,Nasılsın ?  </p>
    <a asp-action="apply" asp-controller="course">Başvuru Yap  </a>

   home/index/viev
</body>
</html>
