@*@model  ProductsCategoriesViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> PartialViews Index </title>
</head>
<body>
    <div id="header"> Header </div>

    @await Component.InvokeAsync("Menu")

    <div id="content">
    
    AnaSayfa
   </div>
</body>
</html>*@
 

@{ 
    
    Layout = null;
} 
ANASAYFA <br />
bu sayfada varsayılan layout null olarak değiştirilmiştir 