 @model Course


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>  DETAILS </title>
</head>
<body>
    couse/details/viev

    <p> name: @Model.Name </p>
    <p> desctiption: @Model.Desciription </p>
    <p> is published: @Model.isPublished  </p>

</body>
</html>